<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CSI</name>
    <description>
      CepatSembuh Internal side.
    </description>
    <author email="andrechristoga@gmail.com" href="http://christo.js.org">
        Andre Christoga
    </author>
    <content src="www/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="https://cepatsembuh.firebaseio.com" />
    <platform name="android">
        <icon src="res/mipmap-mdpi/ic_launcher.png" density="mdpi"/>
        <icon src="res/mipmap-hdpi/ic_launcher.png" density="hdpi"/>
        <icon src="res/mipmap-xhdpi/ic_launcher.png" density="xhdpi"/>
        <icon src="res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi"/>
        <icon src="res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
    </platform>
</widget>
